body{
	background-color: cyan;
	font-family: comic sans ms;
}
p{
	height: 90px;
	background-color: darkblue;
	color: white;
	font-size: 20px;
	text-align: center;
	margin: 0px 20px;
}
a{
	color: white;
}
a:hover{
	color: pink;
	font-weight: bold;
}

select{
	background-color: darkblue;
	color:white;
}
header{
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
section{float: right;
	background: url("FOND.jpg");
	float: right;
	border: 1px solid black;
	height: 880px;
	width: 150px;
	margin-top: 20px;
}
aside{
	float: left;
	height: 880px;
	width: 150px;
	border: 1px solid black;
	margin-top: 20px;
}
footer{
	width: 100%;
	text-align: center;
	background-color: darkblue;
}
article{
	width: 90%;
	margin-top: 50px;
	margin-left: 100px;
}
ul{
	list-style-type: circle;
}
.a{
	color: green;
}
.a:hover{
	color: blue;
}